*{
    margin: 0;
}

body{
    background-color: #e3e3e3;
    height:100vh;
}

.spacer{
    margin-top: 30px;
}

.cabecalho{
    background-color: #156a45;
    font-size: xx-large;
    padding: 25px;
    color: aliceblue;
    text-align:center;
}

.container{
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px #646464;
    width: 300px;
    justify-items: center;
    margin: 0 75vh;
}

input[type="password" ]{
    width: 100%;
    padding: 12px;
    margin: 12px 0;
    border: solid 1px #ccc;
    border-radius: 6px;
}

button{
    width: 100%;
    padding: 12px;
    background-color: #156a45;
    color: white;
    border: none;
    border-radius: 6vh;
    font-size:16px ;
    cursor:pointer;
}

button:hover{
    background-color:#1b8f5d;
}
.contexto{
    background-color: #fff;
    border: solid 1px rgb(149, 149, 149);
    padding: 10px;
    margin: 50px;
    font-size: 25px;
    color: #2b2b2b;
    text-align:center;
}

#mensagem{
    margin-top: 15px;
    color:#1b8f5d;
    font-size: x-small;
}

.pe{
    margin-bottom: auto;
    background-color: #156a45;
    color: #fff;
    font-size: small;
    text-align:center;
}